[submodule "frontend/android-app"]
	path = frontend/android-app
	url = https://github.com/dovidovision/android-app.git
[submodule "backend/flask-api"]
	path = backend/flask-api
	url = https://github.com/dovidovision/flask-api.git
[submodule "frontend/react-web"]
	path = frontend/react-web
	url = https://github.com/dovidovision/react-web.git
[submodule "backend/proxy-server"]
	path = backend/proxy-server
	url = https://github.com/dovidovision/proxy-server.git
